<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> LA PALMERA
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">Iniciar Sesión</a>
        <a (click)="handleSignupAction()">Registrarse</a>
        <a (click)="handleForgotPasswordAction()">Contraseña Olvidada?</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>LA PALMERA</h2>
</div>